@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/*Set the font for the entire page */
* {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

body {
  background-color: #000;
}

/*Set the entire primary color for our web page */
@theme {
  --color-primary: #d76e00;
}